{{extend 'layout.html'}}

{{block center}}
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <h1>Banner User Account Request</h1>
                <p class="lead">This web application allows faculty and staff members to request an account for Banner. It will also allow security managers to manage Banner account privileges and requests.</p>
                <p><a href="{{=URL('default', 'requestinit')}}" class="btn btn-primary btn-lg">Login and Get Started</a></p>
            </div>
        </div>
    </div>
{{end}}